<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li>
                <%= link_to "Home", root_path, class: "sidebar-brand"  %>
            </li>
            <li>
                <a href="https://dashboard.nexmo.com" target="_blank">Dashboard</a>
            </li>
            <li>
                <a href="https://help.nexmo.com/hc/en-us" target="_blank">Knowledge Base</a>
            </li>
            <li>
                <a href="https://docs.nexmo.com" target="_blank">Nexmo Docs</a>
            </li>
            <li>
                <a href="https://developers.nexmo.com/Quickstarts" target="_blank">Quickstarts</a>
            </li>
            <li>
                <a href="https://developers.nexmo.com" target="_blank">Developers</a>
            </li>
            <li>
                <a href="https://www.nexmo.com" target="_blank">Nexmo Homepage</a>
            </li>


        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Nexmo Verify App</h1>
                    <p>This app demonstrates a basic implementation of the Nexmo Verify two factor authentication using Ruby on Rails and Devise authentication gem.</p>
                    <p>An user can register and add her phone number. <br>
                      Subsequent login attempts will require the user to insert the Verify code received via SMS.
                      If the code inserted is incorrect, the user will be ridirected to the login page.</p>
                    <p>The left hand menu has some useful links for Developers.</p>
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Menu Toggle Script -->
<script>
$("#menu-toggle").click(function(e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
});
</script>
