<% content_for :title do %>About<% end %>
<h3>About this app</h3>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from and developed following this <%= link_to('Nexmo DevRel tutorial', 'https://www.nexmo.com/blog/2016/06/07/two-factor-authentication-2fa-ruby-rails-devise-nexmo-verify/') %>.
</p>
